@font-face {
  font-family: 'icon';
  src: url('../fonts/Entypo-webfont.eot');
  src: url('../fonts/Entypo-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Entypo-webfont.woff') format('woff'),
  url('../fonts/Entypo-webfont.ttf') format('truetype'),
  url('../fonts/Entypo-webfont.svg#entyporegular') format('svg');
  font-weight: normal;
  font-style: normal;

}

.carregar{
  width: 100%;
  height: 100%;
  background-color: #000;
}

.carregar img{
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: auto;
}

*{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 18px;		
}


html, body{
	height: 100%;
}

/* Interações ----------------------------------------------------------- */

.fixo{  
  position: fixed;
  width: 100%;
  background-color: #090909;
  border-color: rgba(255,255,255,.02);
  z-index: 999;
}

.ativa{
  color: #62D5E9;
  font-weight: bolder;
}



/* Css Topo ----------------------------------------------------------- */

.bgParallax{
	background-color: #000000;
	margin: 0 auto;
	width: 100%;
	position: relative;
	min-height: 100%;
	
}

#parallax{
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 0;	
  opacity: 0.4;
}

header nav{
  z-index: 11;
  margin: 0 auto;
  position: fixed;
  right: 0;
  left: 0;
}

header > nav > a{
  font-family: 'Pacifico', cursive;
  float: left;
  height: 50px;
  padding: 2px 1em;
  font-size: 18px;
  line-height: 52px;
  color: #FFF;
  text-decoration: none;
}
.horizontal {
	list-style: none;
 margin: 0 auto;
 padding: 10px;
 float: right;
}

.horizontal li{
	display: inline;	
	padding: 20px;
}
li a{
	color: #FFF;
	text-decoration: none;
	font-size: 25px;
}

#home a:hover{
	color: #13E3F5;
}
h1, h4{
	color: #fff;
	font-weight: lighter;
	z-index: 6;
}
#home h1{
	position: relative;
	padding-top: 35%;
	text-align: center;
	font-size: 35px;
	z-index: 10;
}

#home h4{
	position: absolute;
 top: 23%;
 left: 10%;
 width: 224px;
 font-size: 20px;
 font-style: italic;
}

#setabaixo{
	width: 50px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  margin-top: 0%;
  z-index: 10;
  padding: 26px;
}

/* Css Sobre ----------------------------------------------------------- */

div#quemsomos{
	width:100%;
	overflow:hidden;
	background-color:#0C1F23;
	position: relative;
}
#quemsomos > h1{
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
	color:#FFFFFF;
	font-size:60px;
	text-align:center;
	letter-spacing:-1px;
	margin-top:45px;
	margin-bottom:43px;
}
#quemsomos  p{
	color:#FFFFFF;
	font-size:20px;
	line-height:30px;
	width:60%;
	margin-left:auto;
	margin-right:auto;
	display:block;
	margin-bottom:30px;
}
#quemsomos  .livro{
	float:none;
	margin-right:auto;
	margin-left:auto;
	margin-top:88px;
	margin-bottom:88px;	
	display:block;
  width:60%;
}
.cycle-slideshow{
  width:45%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
}

button, .vertical, .vertical li{
  display: none;
}

/* Css Serviços ----------------------------------------------------------- */

#servicos{
	position: relative;
	background-color: #103038;
	width:100%;
	overflow:hidden;
	min-height: 1000px;
}
#servicos h1{	
	margin-top: 45px;
	font-size:60px;
	text-align:center;
}

section{
 width: 1200px;
 margin: 0 auto;
 position: relative;

}

#servicos h3{
  text-align: center;
  font-size: 1.5em;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  font-weight: normal;
  color: #fff;
}

.fechar{
 width: 70px;
 float: right;
 cursor: pointer;
 display: none;
 font-family: 'icon';
 font-size: 150px;
 color: #fff;
 margin-right: 10%;
}

.pfecha{ 
  margin-right: 10%;
  display: none;
  color: #fff;
  position: absolute;
  right: 0;
  top: 99px;
  font-family: 'Fredoka One', cursive;
  font-size: 30px;
}

#servicos figure{
 float: left;
 margin-left: 290px;
 margin-top: 150px;
 color: #fff;
 text-align: center;
 cursor: pointer;
}

#servicos figcaption{
	font-size: 20px;

}

.imagem{
	display: block;
	margin-right: auto;
	margin-left: auto;
	clear: both;
}

.txt{

  color: #fff;
  display: none;
  float: left;
  width: 500px;
  margin-left: 50px;
  margin-top: 140px;
  margin-bottom: 30px;
}


/* CSS Equipe ----------------------------------------------------------- */

#equipe{
  background-color: #428F9C;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#equipe h1{
	margin-top: 45px;
  font-size: 60px;
  text-align: center;
  color: #fff;
}

#equipe h3{
 text-align: center;
 font-size: 30px;
 width: 80%;
 margin: 0 auto;
 margin-top: 50px;
 font-weight: normal;
 color: #fff;
}

.monitor{
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#equipe figure{
  border: 1px solid #000;
  width: 150px;
  border-radius: 100%;
  height: 150px;
  float: left;
  margin: 0 auto;
  margin-left: 110px;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  background-color: #7B7878;
  cursor: pointer;

}

#equipe figure img{
  width: 150px;
  border-radius: 100%;
}

#equipe figcaption{
	font-size: 20px;
  margin-top: 25px;
  color: #fff;
}

#equipe article p {
  margin: 0 auto;
  width: 490px;
  position: absolute;
  top: 508px;
  left: 577px;
  padding: 10px;
}

#equipe h6{
 position: absolute;
 font-family: 'Pacifico', cursive;
 top: 470px;
 left: 276px;
 font-size: 30px;
}

.benjatxt, .leotxt, .victortxt , .benjah, .leoh, .victorh{
  display: none;
}

strong{
  text-align: center;
  display: block;
  font-family: 'Pacifico', cursive;
  color: #428F9C;
  font-size: 2em;
}

.habilidades{
	display: inline-block;
 width: 60%;
}

.icon{
  font-family: 'icon';
  font-size: 42px;
  color: #428F9C;
}

.vazio{
  color: #938D8D;
}

#equipe ul {
 list-style: none;
 position: absolute;
 top: 600px;
 left: 208px;
 width: 350px;
}

#equipe ul > li {
  min-height: 30px;
  padding-bottom: 0.5em;
}

#panel, #panel2{
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #444;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  border: 2px solid;
}

#panel p,#panel2 p{
  width: 70%;
  color: #fff;
  margin: 5% auto;
  text-align: justify;
}

#panel .soc-linkedin {
  position: relative;

  display: block;
  float: none;
  left: 0px;
  
}

#panel .soc-icon-last{
  margin-right: auto !important;
  margin-left: auto !important;
}

.close{
  background-color: #222;
  color: #fff;
  padding: 10px;
  border-radius: 10%;
  cursor: pointer;
  display: block;
  width: 3em;
  margin: 2% auto;
}

/* CSS Clientes ----------------------------------------------------------- */

#clientes{
  background-color: #D2C9BF;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#clientes h1{
  color: #000;
  margin-top: 45px;
  font-size:60px;
  text-align:center;
}

#clientes section{
  height: 710px;
}

.tablet{
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}

.bolha{
  border: 1px solid black;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 3;


}
.bolha img{
  width: 100px;
}

.voce{
  width: 200px;
  height: 200px;
  background-color:#000;
  border: 2px solid white;
}

.voce img{
  width: 200px;
}


.tabletdentro{
  width: 53%;
  position: absolute;
  z-index: 0;
  top: 6%;
  left: 23.5%;
}


.magazinecirculo{
  border-radius:50%;
}
.marcocirculo{
  border-radius:50%;
  margin-top:10px;
}
.habibscirculo{
  border-radius:50%;
}


/* CSS Contatos ----------------------------------------------------------- */

#contato{
  width:100%;
  overflow:hidden;
  background-color:#C4B6AB;
}
section#contatocentro{
  width:1200px;
  margin-left:auto;
  margin-right:auto;
}
#contato > h1{
  font-size:80px;
  color:#000000;
  letter-spacing:3px;
  text-align:center;
  margin-top:50px;
}
#contato > section > form > h2#faleconosco{
  font-size:40px;
  color:#161515;
  text-align: center;
  display: block;
  margin-bottom:22px;
  font-weight:lighter;
  line-height:20px;
  letter-spacing:-2px;
}
#contato > section > form{
  width:400px;
  overflow:hidden;
  padding:30px;
  float:left;
  margin-right:auto;
  margin-left:auto;
}
input[type="text"]{
  width:185px;
  height:52px;
  line-height:20px;
  border-radius:2px;
  background-color:#FFFFFF;
  font-size:16px;
  text-align:left;
  float:left;
  border-color:transparent;
  color:#555;
  margin-bottom:10px;
}
.corform::-webkit-input-placeholder{
 color:#B7B7B7;
 font-size:16px;
 padding:2px 10px;
}

input.sobrenome{
  background-color:#E45D4D;   
  float:left;
  margin-left:20px;
  color: #fff;
}

.sobrenome::-webkit-input-placeholder{
 color: white;
 font-size:16px;
 padding:5px 10px;
}

.sobrenome:-moz-placeholder {
 color: white;
 font-size:16px;
}

.sobrenome::-moz-placeholder {
 color:white;
 font-size:16px;
}

/*.sobrenome:-ms-input-placeholder {  
   color: white;  
   font-size:16px;
}
*/


#telefone{
  width:393px;
  height:52px;
  line-height:20px;
  border-radius:2px;
  border-color:transparent;
  background-color:#FFFFFF;
  color:#555;
  font-size:16px;
  text-align:left;
  margin-top:20px;
}
input[type="email"]{
  width:393px;
  height:52px;
  line-height:20px;
  border-radius:1;
  border-color:transparent;
  background-color:#FFFFFF;
  color:#606060;
  font-size:16px;
  text-align:left;
  margin-top:20px;
}

.email::-webkit-input-placeholder{
 color: #606060;
 font-size:16px;
 padding:2px 10px;
}

input,
textarea {
  width:393px;
  height:143px;
  line-height:20px;
  background-color:#FFFFFF;
  font-size:16px;
  text-align:left;
  margin-top:30px;
  border-color:transparent;
}

::-webkit-input-placeholder{
 color: #B7B7B7;
 font-size:16px;
 margin:5px 5px;
}

/*:-moz-placeholder {
   color: orange;
   font: 12px verdana, arial, sans-serif;
}

::-moz-placeholder {
   color: orange;  
   font: 12px verdana, arial, sans-serif;
}

:-ms-input-placeholder {  
   color: orange;  
   font: 12px verdana, arial, sans-serif;
   }*/


/*.email:-moz-placeholder {
   color: orange;
   font: 12px verdana, arial, sans-serif;
}

.email::-moz-placeholder {
   color: orange;  
   font: 12px verdana, arial, sans-serif;
}

.email:-ms-input-placeholder {  
   color: orange;  
   font: 12px verdana, arial, sans-serif;
}
*/

input[type="submit"]{
  line-height:20px;
  border-color:transparent;
  background-color:#103038;
  color:#FFFFFF;
  font-size:24px;
  text-align:center;  
  border-radius:2px;
  width:180px;
  height:51px;
  margin: 2em auto;
  display: block;
}

.formulariotexto{
  width:480px;
  height:500px;
  margin:-10px 30px;
  margin-left:60px;
  position: static;
  float: right;
}
.formulariotexto > hgroup > h2{
  margin-top: 35px;
  margin-bottom: 10px;
  margin-right: 9px;
  font-size: 24px;
  font-weight: lighter;
  color: #161515;
  float: right;
  width: 474px;

}

.formulariotexto span{
  font-weight: bolder;
  font-size: 24px;
}

section#imagens{
  width:400px;
  float:left;
  margin-top:10px;
  min-width: 315px;
}



@font-face {
  font-family: 'si';
  src: url('../fonts/socicon.eot');
  src: url('../fonts/socicon.eot?#iefix') format('embedded-opentype'),
  url('../fonts/socicon.woff') format('woff'),
  url('../fonts/socicon.ttf') format('truetype'),
  url('../fonts/socicon.svg#icomoonregular') format('svg');
  font-weight: normal;
  font-style: normal;
  
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family:si;
    src: url(socicon.svg) format(svg);
  }
}

.soc {
  float: left;
  overflow:hidden;
  margin:0; padding:0;
  list-style:none;
  padding: 10px;
}

.soc li {
  display:inline-block;
  *display:inline;
  zoom:1;
}

.soc li a {
  font-family:si!important;
  font-style:normal;
  font-weight:400;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;

  -o-transition:.1s;
  -ms-transition:.1s;
  -moz-transition:.1s;
  -webkit-transition:.1s;
  transition:.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  overflow:hidden;
  text-decoration:none;
  text-align:center;
  display:block;
  position: relative;
  z-index: 1;
  width: 59px;
  height: 59px;
  line-height: 59px;
  font-size: 32px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  margin-right: 38px;
  color: #ffffff;
  background-color: none;
}

.soc a:hover {
  z-index: 999;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.soc-icon-last{
  margin:0 !important;
}

.soc-twitter {
  background-color: #4da7de;
}
.soc-twitter:before {
  content:'a';
}
.soc-facebook {
  background-color: #3e5b98;
}
.soc-facebook:before {
  content:'b';
}
.soc-instagram {
  background-color: #9c7c6e;
}
.soc-instagram:before {
  content:'x';
}
.soc-youtube {
  background-color: #e02a20;
}
.soc-youtube:before {
  content:'r';
}
.soc-linkedin {
  position: absolute;
  top: 75%;
  left: 46%;

  background-color: #000;
  font-family:si!important;
  font-style:normal;
  font-weight:400;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;

  -o-transition:.1s;
  -ms-transition:.1s;
  -moz-transition:.1s;
  -webkit-transition:.1s;
  transition:.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  overflow:hidden;
  text-decoration:none;
  text-align:center;
  display:block;
  z-index: 1;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 44px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  margin-right: 0px;
  color: #ffffff;
  background-color: none;
}
.soc-linkedin:before {
  content:'j';
}





.mapa{
  float:left;
}

@media (max-width: 920px) {

  header nav{
    background-color: #222;
    position: fixed;
    z-index: 444;
  }


  .horizontal {
    display: none;
  }

  button{
    display: block;
    float: right;
    background-color: #62D5E9;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .linha{
    display: block;
    width: 22px;
    height: 2px;
    background-color: #fff;
    margin-top: 3px;
  }

  .vertical{
    z-index: 44;
    position: fixed;
    background-color: #222;
    width: 100%;
    top: 3em;
    border-top: 1px solid #E7EEF8;
  }

  .vertical li{
    display: block;
    margin-left: 4%;

  }

  .vertical > li > a{
    position: relative;
    display: block;
    padding: 10px 15px;
  }

  

}

@media (max-width: 1100px) {

  #servicos, #equipe{
    min-height:  40em;
  }

  #equipe figcaption{
    font-size: 1.5em;
  }

  #home{
    min-height: 0;
  }

  .cycle-slideshow img{
    width: 100%;
  }

  #home h1{
    padding-top: 56%;
  }

  section{
    min-width: 0px;
    width:100%;
  }

  #servicos figure{
    margin-left: 2.5em;
    margin-top: 3em;
  }

  .sumir{
    display: none;
  }
  
  #panel , #panel2{
    display: block;
  }

  .tablet{
    display: none;
  }

  .tabletdentro {
    width: 90%;
    clear: both;
    margin: 0 auto;
    z-index: 0;
    position: initial;
    display: block;
    margin-bottom: 2em;
    border: 1px solid;
  }
  
  .bolha {
    border: 1px solid black;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background-color: #fff;
    position: initial;
    cursor: pointer;
    z-index: 3;
    float: left;
    opacity: 1;
    margin: 1em 0 1em 1em;
  }

  .voce{
    width: 100px;
    height: 100px;
    background-color: #222;
  }

  .voce img{
    width: 100px;
  }

  .animated {
    -webkit-animation-duration: 0s !important;
    animation-duration: 0s !important;
  }

  #clientes section{
    overflow: hidden;
    height: inherit;
  }

  section#contatocentro {
    width: 100%;
  }


}

@media (max-width: 1050px) {

  #contato > section > form {
    width: 400px;
    overflow: hidden;
    padding: 30px;
    margin: 0 auto;
    display: block;
    float: none;
  }

  .formulariotexto {
    position: static;
    margin: 0 auto;
    display: block;
    float: none;
    text-align: center;
  }

  section#imagens {

    margin-top: 10px;
    min-width: 315px;
    margin: 0 auto;
    float: none;
  }

}

@media (max-width: 550px) {



  #equipe figure{
    float: none;
    margin-left: 0px;
    margin: 4em auto;

  }

  #servicos figure{
    float: none;
    margin-left: 0px;
    margin: 4em auto;
  }

  .formulariotexto{
    width: 100%;
  }

  .formulariotexto > hgroup > h2 {
    margin-top: 35px;
    margin-bottom: 10px;
    margin-right: 9px;
    font-size: 1em;
    font-weight: lighter;
    color: #161515;
    float: right;
    width: 100%;
  }

  input, textarea {
    width: 86%;
    height: 143px;
    line-height: 20px;
    background-color: #FFFFFF;
    font-size: 16px;
    text-align: left;
    margin-top: 30px;
    border-color: transparent;
  }

  #telefone {
    width: 86%;
    height: 52px;
    line-height: 20px;
    border-radius: 2px;
    border-color: transparent;
    background-color: #FFFFFF;
    color: #555;
    font-size: 16px;
    text-align: left;
    margin-top: 20px;
  }

  input[type="email"] {
    width: 86%;
    height: 52px;
    line-height: 20px;
    border-radius: 1px;
    border-color: transparent;
    background-color: #FFFFFF;
    color: #606060;
    font-size: 16px;
    text-align: left;
    margin-top: 20px;
  }

  input[type="text"] {
    width: 40%;
    height: 52px;
    line-height: 20px;
    border-radius: 2px;

    font-size: 16px;
    text-align: left;
    float: left;
    border-color: transparent;
    color: #555;
    margin-bottom: 10px;
  }

  input[type="submit"]{
    display: block;
    margin: 1em auto;
  }

  #contato > section > form > h2#faleconosco {
    font-size: 2em;
    font-weight: lighter;
    line-height: 20px;
  }


  #contato > section > form{
    width: 100%;
  }

}

@media (max-width: 390px) {

  section#imagens {
    width: 100%;
  }

  .soc li {
    width: 34%;
  }
  #contato > section > form{
    padding: 1em;
  }

  input[type="submit"] {
    margin-left: 3em;
  }


}


